/* Stilurile pentru bara de navigare */
nav {
    background-color: #F33636; /* culoare de fundal */
    color: #fff; /* culoare text */
    padding: 15px 0; /* spațiere între text și marginea bara de navigare */
    position: fixed; /* bara de navigare să fie fixată în partea de sus */
    width: 100%; /* să ocupe întreaga lățime a paginii */
    top: 0; /* poziționare de sus */
    left: 0; /* poziționare de la stânga */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); /* adăugăm o umbră subtilă */
    z-index: 999; /* asigurăm că bara de navigare este deasupra antetului */

}

/* Stilurile pentru lista de navigare */
nav ul {
    list-style-type: none; /* eliminarea marcatorilor listei */
    margin: 0; /* eliminarea marginilor implicite */
    padding: 0; /* eliminarea spatiilor implicite */
    text-align: center; /* alinierea textului la centru */
}

/* Stilurile pentru fiecare element de navigare */
nav ul li {
    display: inline; /* afișarea elementelor pe aceeași linie */
    margin: 0; /* spațiere între elemente */
    margin-right: -4px; /* spatiu negativ intre butoane */
    width: calc(100% / 14); /* lățimea fiecărui element li să fie 100% / numărul total de butoane */
}

/* Stilurile pentru link-urile de navigare */
nav ul li a {
    text-decoration: none; /* eliminarea sublinierii link-urilor */
    color: #fff; /* culoare text */
    font-weight: bold; /* text bold */
    padding: 15px; /* spațiul din interiorul butonului */
}

/* Stilurile pentru link-urile de navigare cand mouse-ul este deasupra */
nav ul li a:hover {
    background-color: #fff; /* culoare de fundal albă */
    color: #000; /* culoare text neagră */
}

/* Stilurile pentru antet */
header {
    text-align: center; /* aliniere text la centru */
    padding: 200px 0; /* spațiere top și bottom */
    color: #fff;
    background-color: #F33636; /* rosu aprins */
    width: 100.9vw;
    margin-left: calc(-2.5vw); /* compensarea marginii negative */
}

/* Stilurile pentru primul grid */
.grid:nth-child(3) { /* selectăm al treilea element cu clasa .grid */
    background-color: #E0E0E0;
    padding: 60px;
    width: 93vw;
    margin-left: calc(-2.5vw); /* compensarea marginii negative */
}

/* Stilurile pentru al doilea grid */
.grid:nth-child(4) { /* selectăm al patrulea element cu clasa .grid */
    background-color: #C0C0C0; /* gri deschis */
    padding: 90px;
    width: 89.1vw;
    margin-left: calc(-2.5vw); /* compensarea marginii negative */

}

/* Stilurile pentru subsol */
footer {
    background-color: #fff; /* alb */
    text-align: center;
    bottom: 0; /* să fie poziționat în partea de jos */
    width: 100%; /* să ocupe întreaga lățime a paginii */
    margin-top: 20px; /* adaugăm o margine superioară */
}

/* Stilurile pentru iconițele din footer */
.footer a {
    color: #000; /* culoare pentru iconițe */
    font-size: 24px; /* dimensiunea fontului pentru iconițe */
    margin:  10px; /* spațiere între iconițe */
}

.nav-link {
    text-decoration: none; /* eliminarea sublinierii link-urilor */
    color: #fff; /* culoare text */
    font-weight: bold; /* text bold */
    margin: 0; /* spațiere între butoane */
}

/* Stilurile pentru butonul activ */
.nav-link.active {
    background-color: #fff; /* culoare de fundal albă */
    color: #000; /* culoare text */
}

/* Stiluri pentru textul mare */
.large-text {
    font-size: 24px;
}

.left-text{
    padding-left: 25%;
}

/* Stilurile pentru iconițele din primul grid */
.icon {
    position: absolute; /* Poziționare absolută pentru a nu afecta layout-ul */
    padding-left: 700px; /* Distanța de la marginea dreaptă */
    top: 95%;
    transform: translateY(-50%); /* Ajustare pentru a centra vertical iconița */
    color: #333; /* Culorează iconița */
    font-size: 200px; /* Mărimea fontului pentru iconiță */
}

.nav-item {
    position: relative; /* Poziționare relativă pentru containerul Lab 2 */
}

/* Stilizarea opțiunilor dropdown */
.dropdown-options {
    display: none;
    position: absolute;
    top: calc(100% + 15px); /* Plasează containerul sub bara de navigare */;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: max-content; /* Lățimea containerului să fie cât este necesar */
}

.dropdown-options li {
    display: block;
    white-space: nowrap; /* Asigură afișarea textului într-un singur rând */
}

.dropdown-options li a {
    color: #000; /* Setează culoarea textului la negru */
    text-decoration: none; /* Elimină sublinierea link-urilor */
    display: block; /* Face ca link-urile sa fie afisate ca blocuri */
    padding: 8px 12px; /* Spatiere mai mica in jurul textului */
    font-size: 14px; /* Dimensiunea fontului mai mica */
}

.dropdown-options li:hover {
    background-color: #f1f1f1;
}