table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr.h {
    background-color: #dddddd;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}
