body {
    padding-top: 80px;
    background: linear-gradient(#CC00CC, #fff7f9);
    background-attachment: fixed;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Afișează 3 luni pe rând */
    gap: 20px;
}

.month {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    padding: 10px;
}

.day {
    padding: 10px;
    border: 1px solid #ccc;
}
