/* antet */
header {
    text-align: center;
    padding: 200px 0; /* spațiere top și bottom */
    color: #fff;
    background-color: #CC00CC;
    width: 100.9vw;
    margin-left: calc(-2.5vw); /* compensarea marginii negative */
}

/*  primul grid */
.grid:nth-child(3) { /* selectăm al treilea element cu clasa .grid */
    background-color: #E0E0E0;
    padding: 60px;
    width: 93vw;
    margin-left: calc(-2.5vw); /* compensarea marginii negative */
}

/* Stilurile pentru al doilea grid */
.grid:nth-child(4) { /* selectăm al patrulea element cu clasa .grid */
    background-color: #C0C0C0;
    padding: 90px;
    width: 89.1vw;
    margin-left: calc(-2.5vw); /* compensarea marginii negative */

}

/* Stilurile pentru subsol */
footer {
    background-color: #fff; /* alb */
    text-align: center;
    bottom: 0; /* să fie poziționat în partea de jos */
    width: 100%; /* să ocupe întreaga lățime a paginii */
    margin-top: 20px; /* adaugăm o margine superioară */
}

/* iconițele din footer */
.footer a {
    color: #000;
    font-size: 24px;
    margin:  10px;
}

/* CSS adăugat aici */
.text-and-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content,
.right-content {
    flex: 1; /* Le face să se extindă pe întreaga lățime disponibilă */
    text-align: center; /* Aliniere text la centru */
}

.left-text,
.right-text {
    font-size: 18px;
    margin: 0; /* Elimină marginile pentru a asigura centrarea verticală */
}

.large-text {
    font-size: 24px;
}

/* Iconita din primul grid */
.icon {
    color: #333;
    font-size: 200px;
}
