body {
    margin: 0;
    padding-top: 60px;
    background: linear-gradient(#CC00CC, #fff7f9);
    background-attachment: fixed;
}
.container {
    max-width: 1200px; /* Modificat pentru a mări lățimea containerului */
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(#CC00CC, #fff7f9);
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product {
    width: calc(33.33% - 20px); /* Împarte containerul pe trei coloane */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}
.product img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.product-details {
    padding: 20px;
}
.product-details h2 {
    margin-top: 0;
}
.product-details a {
    color: #007bff;
    text-decoration: none;
}
.product-details p {
    margin: 0;
}
.product-link {
    padding: 20px;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: auto;
}