/* bara de navigare */
nav {
    background-color: #CC00CC;
    color: #fff;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); /* adăugăm o umbră subtilă */
    z-index: 999; /* asigurăm că bara de navigare este deasupra antetului */

}

/* pentru lista de navigare */
nav ul {
    list-style-type: none; /* eliminarea marcatorilor listei */
    margin: 0;
    padding: 0;
    text-align: center;
}

/* pentru fiecare element de navigare */
nav ul li {
    display: inline; /* afișarea elementelor pe aceeași linie */
    margin: 0;
    margin-right: -4px;
    width: calc(100% / 14); /* lățimea fiecărui element li să fie 100% / numărul total de butoane */
}

/* link-urile de navigare */
nav ul li a {
    text-decoration: none; /* eliminarea sublinierii link-urilor */
    color: #fff;
    font-weight: bold;
    padding: 15px;
    transition: none;
}

/* link-urile de navigare cand mouse-ul este deasupra */
nav ul li a:hover {
    background-color: #fff;
    color: #000;
}

.nav-link {
    text-decoration: none; /* eliminarea sublinierii link-urilor */
    color: #fff;
    font-weight: bold;
    margin: 0;
}

/* butonul activ */
.nav-link.active {
    background-color: #fff;
    color: #000;
}

.nav-item {
    position: relative; /* Poziționare relativă pentru containerul Lab 2 */
}

/* opțiunile dropdown */
.dropdown-options {
    display: none;
    position: absolute;
    top: calc(100% + 15px); /* Plasează containerul sub bara de navigare */;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: max-content; /* Lățimea containerului să fie cât este necesar */
}

.dropdown-options li {
    display: block;
    white-space: nowrap; /* Asigură afișarea textului într-un singur rând */
}

.dropdown-options li a {
    color: #000;
    text-decoration: none; /* Elimină sublinierea link-urilor */
    display: block; /* Face ca link-urile sa fie afisate ca blocuri */
    padding: 8px 12px;
    font-size: 14px;
}

.dropdown-options li:hover {
    background-color: #f1f1f1;
}


