body {
    margin: 10px;
    padding-top: 60px;
    background: linear-gradient(#CC00CC, #fff7f9);
    background-attachment: fixed;
}

.scrollable {
    overflow-y: auto; /* Adăugarea unei bare de derulare verticale în cazul în care tabelul este mai larg decât fereastra */
    max-height: 80vh;
}

table {
    border-collapse: collapse;
    overflow-y: auto;
    height: 100%;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    background-color: #dddddd;
    padding: 8px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}


.group-name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Stiluri pentru a împărți conținutul unei celule în două */
.split-cell {
    position: relative;
}

.split-content {
    position: absolute;
    width: 100%;
    top: 0;
    height: 50%; /* fiecare activitate ocupă jumătate din înălțimea celulei */
    text-align: center;
    border-bottom: 1px solid #ccc; /* adăugăm o linie între activități */
}

/* prima activitate să fie sus și a doua activitate să fie jos */
.split-content:nth-child(2) {
    top: 50%;
}