.slider {
    position: relative;
    width: 600px; /* Dimensiunea fixă a chenarului */
    height: 400px; /* Înălțimea fixă a chenarului */
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
    border: 1px solid #ccc; /* Adăugăm un chenar în jurul slider-ului */
}

.slider img {
    width: 100%; /* Imaginile vor umple întreaga lățime a chenarului */
    height: auto; /* Înălțimea se va adapta proporțional la lățimea imaginii */
    display: none;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}
